

torch
torchvision
torchaudio
transformers
datasets
scikit-learn
pandas
matplotlib
seaborn
tqdm
regex
requests
safetensors
filelock
packaging
emoji
yacs
xgboost
lightning-utilities
jinja2
numpy
sacremoses
